body, html {
    height: 100%; /* Toma todo el doc y le aplica despues el centrado */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #cdffd8, #94b9ff);
    font-family: 'Oswald', sans-serif !important;
}

.btnStyle{
    background-color: #2f5f98;
    color: white;
    font-size: 4rem;
    padding: 10px 60px;
    border-radius: 100px;
}

.btnStyle:hover{
    background-color: #215198;
    transition: 0.2s;
}

.pinText{
    font-size: 20px;
    font-weight: 500;
}

.pinInput input {
    width: 50px; /* Ajustes */
    height: 30px; /* Ajustes */
    font-size: 16px; /* Ajustes */
}

.btnStyle {
    font-size: 16px; /* Ajustes */
    padding: 5px 10px; /* Ajustes */
}

.salirButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px; /* Adjust button font size */
    padding: 5px 10px; /* Adjust button padding */
}

img {
    width: 220px; /* Ajustes */
}

.inputDigit{
    text-align: center;
    width: 160px;
    height: 160px;
    font-size: 6rem;
    background-color: #2f5f98;
    color: white;
    border-radius: 100px;
}

.btnStyle:active{
    /* 
    Propiedad border outline */
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}

.custInfo{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.custInfo .btnStyle {
    margin-top: 2.5px; /* Espacio entre los elementos */
}

.logo{

    width: 50px; /* Set image width to 50px */
    height: 50px; /* Set image height to 50px */
    margin-top: 10px; /* Add top margin for spacing */
    margin-left: 10px; /* Add left margin for spacing */   
}

.menuCajero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 500px;
}

.menuCajero .btnStyle {
    width: calc(50% - 10px); /* Ancho de cada botón (50% del contenedor menos el espacio entre ellos) */
    margin-bottom: 10px; /* Espacio entre los botones */
}

canvas {
    width: 1600px;
}

.chart-container{
    width: 1000px;
    height: 1000px;
}

.btn-group {
    margin-bottom: 20px;
    width: 500px;
    height: 100px;
}