body, html {
    height: 100%; /* Toma todo el doc y le aplica despues el centrado */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #cdffd8, #94b9ff);
    font-family: 'Oswald', sans-serif !important;
}

.btnStyle{
    background-color: #2f5f98;
    color: white;
    font-size: 4rem;
    padding: 10px 60px;
    border-radius: 100px;
}

.btnStyle:hover{
    background-color: #215198;
    transition: 0.2s;
}

.pinText{
    font-size: 20px;
    font-weight: 500;
}

.pinInput input {
    width: 50px; /* Ajustes */
    height: 30px; /* Ajustes */
    font-size: 16px; /* Ajustes */
}

.btnStyle {
    font-size: 16px; /* Ajustes */
    padding: 5px 10px; /* Ajustes */
}

.salirButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px; /* Adjust button font size */
    padding: 5px 10px; /* Adjust button padding */
}

img {
    width: 220px; /* Ajustes */
}

.inputDigit{
    text-align: center;
    width: 160px;
    height: 160px;
    font-size: 6rem;
    background-color: #2f5f98;
    color: white;
    border-radius: 100px;
}

.btnStyle:active{
    /* 
    Propiedad border outline */
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
}

.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px; /* Set image width to 50px */
    height: 50px; /* Set image height to 50px */
    margin-top: 10px; /* Add top margin for spacing */
    margin-left: 10px; /* Add left margin for spacing */   
}

.btnNom {
    position: absolute;
    left: 0;
    top: 60;
}

.btnNom {
    margin-top: 5px; /* Add top margin for spacing between the logo and the name */
}

/*pagina de finanzas*/

canvas {
    max-width: 100%; 
    height: auto; 
}

.chart-container {
    max-width: 100%; 
    height: auto; 
    padding: 10px; 
}

.btn-group {
    margin-bottom: 20px;
    width: 500px;
    height: 100px;
}


.btnSalir {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1000;
    background-color: #2f5f98;
    color: white;
    padding: 10px 60px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    

}

.btnSalir:hover{
    background-color: #4b88e4;
    transition: 0.2s;
}


.container-fluid {
    position: relative;
}

.logo-btn-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2; 
    padding: 10px;
    
}

.btnStyle {
    /* Estilos del botón Salir */
    
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;

   
}

#chart-container {
   position: relative; 
    max-width: 80%; 
    max-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0; 
    padding: 10px;
}

.btn-group {
    margin-top: 20px;
    margin-bottom: 7%;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000; 
}
